@charset "UTF-8";
/* CSS Document */

#prueba{
	background-color:#3F0;
}


#cabecera{
	background-color:#390;
	width:100%;
	border-bottom:2px solid #360;
}

#cuerpo{
	background-color:#C90;
	padding:10px;
}

#pie{
	background-color:#C90;
	border-top:1px solid #390;
	font-size:12px;
}

#ofertas{
	height:200px;
	background-color:#FFC;
	padding:25px;
	margin:10px;
	
}

#noticias{
	background-color:#FFC;
	text-align:justify;
	padding:25px;
	margin:10px;
}

#usuario{
	color:#FFF;
	font-size: 1em;
}

/* REDEFINICIÓN DE CLASES */
.container{
	max-width:800px;
}

a{
	color:#FC0;
}

#avatar{
	height:90px;
	width:90px;
	margin-left: -15px;
}

#logotitulo{
	height:70%;
	width:70%;
	float:left;
	margin:5px;
}

.busquedaBares{
  height: 500px;
  padding-top: 50px;
  margin: auto;
}

.botonesUsuario{
  text-align: center;
}

.nombreUsuario{  
  margin-left: -10px;
}

/*div, li, img{
  border: 1px solid;
}*/