html, body{
  height: 100%;
}

body{
  background-color:#C90;
}

@charset "UTF-8";
/* CSS Document */

#prueba{
	background-color:#3F0;
}


#cabecera{
	background-color:#390;
	width:100%;
	border-bottom:2px solid #360;
}

#cuerpo, .cuerpo{
	background-color:#C90;
	padding:10px;
}

#pie{
	background-color:#C90;
	font-size:12px;
	height: 4em;
	text-align: center;
}

#ofertas{
	height:200px;
	background-color:#FFC;
	padding:25px;
	margin:10px;
	
}

#noticias{
	background-color:#FFC;
	text-align:justify;
	padding:25px;
	margin:10px;
}

#usuario{
	color:#FFF;
	font-size: 1em;
}

/* REDEFINICIÓN DE CLASES */
.container{
	max-width:800px;
}

a{
	color:#FC0;
}

#avatar{
	height:90px;
	width:90px;
	margin-left: -15px;
}

#logotitulo{
	height:70%;
	width:70%;
	float:left;
	margin:5px;
}

.busquedaBares{
  padding-top: 50px;
  padding-left: 50px;
}

.botonesUsuario{
  text-align: center;
}

.nombreUsuario{  
  margin-left: -10px;
}

.resultadoBar{
  list-style: none;
  margin-top: 10px;
}

.wrapper {
  background-color:#C90;
  min-height: 100%;
  height: 100%;
  margin: 0 auto -60px;
}

.push{
  height: 4em;
}

.inputBares{
  width: 500px;
}


/*div, li, img{
  border: 1px solid;
}*/