 <div bar-list>
   <div class="navbar-form busquedaBares">
      <div class="form-group">
        <input type="text" class="form-control" name="valorBusqueda" placeholder="Introduzca su búsqueda" ng-model="ctrl.searchValor">
        <select class="form-control" name="tipoBusqueda" ng-model="ctrl.searchTipo">
          <option value="Nombre">Nombre</option>
          <option value="Tipo">Tipo</option>
          <option value="Tematica">Temática</option>
          <option value="Zona">Zona</option>
        </select>
        <button class="btn btn-default" ng-click="ctrl.search()">Buscar</button>
      </div>
    </div>
    <ul ng-cloak>
      <li ng-repeat="abar in ctrl.barList" class="resultadoBar">
        <barlistitem barName="{{abar.name}}" barAddress="{{abar.address}}" barTipo="{{abar.tipo}}" barTematica="{{abar.tematica}}"></barlistitem>
      </li>
    </ul>
 </div>
    