<div friends-list ng-cloak>
  <div ng-hide="ctrlF.friendChosen">
    <ul>
      <li ng-repeat="user in ctrlF.friendsList">
        <userlistitem idUser="user.id_USER" userName="user.nombre" userPuntos="user.puntos" userApellido1="user.apellido1" userApellido2="user.apellido2" userCiudad="user.ciudad"></userlistitem>
      </li>
    </ul>
  </div>
  <div bar-list ng-hide="!ctrlF.friendChosen">
    <userlistitem id="chosenFriend"></userlistitem>
    <ul>
      <li ng-repeat="abar in ctrl.barList">
        <barlistitem barName="{{abar.name}}" barAddress="{{abar.address}}" barTipo="{{abar.tipo}}" barTematica="{{abar.tematica}}"></barlistitem>
      </li>
    </ul>
  </div>
</div>
